<div class="remodal" id="confirm_modal" role="dialog">
    <button data-remodal-action="close" class="remodal-close"></button>
    <h1>Confirm delete</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, tenetur tempore non odio officia dolores aliquid numquam in saepe qui neque optio corporis praesentium laudantium itaque voluptatum dolor illum quaerat.</p>
    <br>
    <button data-remodal-action="cancel" class="btn  btn--deep-orange">Cancel</button>
    <button data-remodal-action="confirm" class="btn  btn--green">OK</button>
</div>
