<div class="filter" id="filter">
    <button class="filter__close" type="button" id="filter_close">Close filter</button>

    <form class="form--inline" action="/" method="post">
        <div class="form__group">
            <div class="input__wrapper">
                <input class="input" type="text" placeholder="Price from">
            </div>
        </div>
        <div class="form__group">
            <div class="input__wrapper">
                <input class="input" type="text" placeholder="Price to">
            </div>
        </div>
        <div class="form__group">
            <div class="input__wrapper">
                <div class="select">
                    <select name="year_from" id="year_from">
                        <option value="0" selected>Year from</option>
                        <option value="2016">2016</option>
                        <option value="2015">2015</option>
                        <option value="2014">2014</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form__group">
            <div class="input__wrapper">
                <div class="select">
                    <select name="year_to" id="year_to">
                        <option value="0" selected>Year to</option>
                        <option value="2016">2016</option>
                        <option value="2015">2015</option>
                        <option value="2014">2014</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form__group">
            <div class="input__wrapper">
                <div class="select">
                    <select name="capacity_from" id="capacity_from">
                        <option value="0" selected>Capacity from</option>
                        <option value="6.0">6.0</option>
                        <option value="5.0">5.0</option>
                        <option value="4.0">4.0</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form__group">
            <div class="input__wrapper">
                <div class="select">
                    <select name="capacity_to" id="capacity_to">
                        <option value="0" selected>Capacity to</option>
                        <option value="6.0">6.0</option>
                        <option value="5.0">5.0</option>
                        <option value="4.0">4.0</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form__group">
            <div class="input__wrapper">
                <div class="select  select--sm">
                    <select name="engine" id="engine">
                        <option value="0" selected>Engine</option>
                        <option value="diesel">Diesel</option>
                        <option value="petrol">Petrol</option>
                        <option value="gas">Gas</option>
                        <option value="electric">Electric</option>
                        <option value="hybrid">Hybrid (petrol/electric)</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form__group">
            <div class="input__wrapper">
                <div class="select  select--sm">
                    <select name="gearbox" id="gearbox">
                        <option value="0" selected>Gearbox</option>
                        <option value="mechanic">Mechanic</option>
                        <option value="automatical">Automatical</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form__group">
            <div class="input__wrapper">
                <div class="select  select--sm">
                    <select name="vehicle_type" id="vehicle_type">
                        <option value="0" selected>Type</option>
                        <option value="Saloon">Saloon</option>
                        <option value="Estate">Estate</option>
                        <option value="Cabriolet">Cabriolet</option>
                        <option value="Coupe">Coupe</option>
                        <option value="Minibus">Minibus</option>
                        <option value="Small">Small</option>
                        <option value="Pickup">Pickup</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form__group">
            <div class="input__wrapper">
                <div class="select  select--sm">
                    <select name="color" id="color">
                        <option value="0" selected>Color</option>
                        <option value="Red">Red</option>
                        <option value="Black">Black</option>
                        <option value="Yellow">Yellow</option>
                        <option value="Brown">Brown</option>
                        <option value="Gray">Gray</option>
                        <option value="Blue">Blue</option>
                        <option value="Orange">Orange</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form__group">
            <button class="btn  btn--red  btn--s" type="submit">Search</button>
        </div>
    </form>
</div><!-- /.filter -->
