<footer class="footer" itemscope itemtype="http://schema.org/WPFooter">
    <div class="container">

        <ul class="footer__list footer__list--inline">
            <li class="footer__list-item">
                <a href="rules.html">Rules &amp; conditions</a>
            </li>
            <li class="footer__list-item">
                <a href="faq.html">FAQ</a>
            </li>
            <li class="footer__list-item">
                <a href="contacts.html">Contact Us</a>
            </li>
            <li class="footer__list-item">
                &copy; 2016 AdsDashboard.com
            </li>
        </ul>

    </div>
</footer>
