<div class="remodal" id="rules_modal" role="dialog">
    <button data-remodal-action="close" class="remodal-close"></button>
    <h3>Rules &amp; conditions</h3>
    <ul class="list">
        <li class="list__item">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
        <li class="list__item">Eaque quibusdam facilis explicabo autem aut voluptas omnis consequatur ad sit quod praesentium, hic laudantium assumenda reiciendis asperiores iure unde temporibus consectetur.</li>
        <li class="list__item">Lorem ipsum dolor sit amet hic laudantium assumenda reiciendis asperiores iure unde temporibus consectetur.</li>
        <li class="list__item">Lorem ipsum dolor sit amet hic laudantium assumenda reiciendis asperiores iure unde temporibus consectetur.</li>
        <li class="list__item">Lorem ipsum dolor sit amet hic laudantium assumenda reiciendis asperiores iure unde temporibus consectetur.</li>
    </ul>
    <br>
    <button data-remodal-action="cancel" class="btn  btn--green">Close</button>
</div>
