.upload {
    display: block;
    width: $upload-width;
    height: $upload-height;
    position: relative;

    background: $upload-bg-color url("#{$img}upload.svg") center 10px no-repeat;
    background-size: 70px auto;
    border: $upload-border;
    cursor: pointer;

    transition: background-color .1s linear;

    &:hover {
       background-color: $upload-bg-color-hover;
    }

    input[type=file] {
        display: none;
    }
}

.upload__text {
    display: block;
    width: 100%;

    font-size: $upload-text-font-size;
    line-height: $upload-text-line-height;
    text-align: $upload-text-text-align;
    color: $upload-text-text-color;

    position: absolute;
    bottom: 10px;
}
